@require "kouto-swiss"
@require "global"

.g-progress-bar
	position: relative
	.bar
		min-height: $typo.line-height
		background-color: $color.primary
		transition: width
		transition-timing-function: linear
